/* SettingPage */
/* #btnid{
  color: #000000; 
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 10%;
  margin-bottom: -2%;
}
#btnid2{
  color: #000000; 
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 20%;
} */

#cardStyle{
  margin-top: -1%;
  margin-left: auto;
  
  margin-right: auto;
}
/* INSIDE CARD STYLING */
#typoIDacont{
  font-weight: bold; 
}
#idofav{
  font-weight: bold;
}
#btnidUpload{
  color: #0d7cf3;
  font-weight: 700;
  margin-left: -2%;
}
#btnidRemoveWithuploadbtn{
  margin-left: -20%;
  font-weight: 700;
  color: rgb(103 90 90 / 87%);
}
#idofhrform{
  margin-top: 2%;
  margin-bottom: 1%;
 
}
#Typographyid{
  font-weight: 600;
  margin-left:  2.2%;
}
#Typographyid2{
  margin-left:  2.2%;
  font-weight: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
  margin-top: -0.4%;
}
#Typographyid3{
  margin-left: -1%;
  font-size: 1rem;
  margin-top: 4%;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Open Sans', sans-serif; 
}
#Conntbtn{
  color: #0d7cf3;
  font-weight: 700;
  margin-left: 100%;
}
#idofhrform2{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
#Typographyid2Del{
  margin-left:  3%;
  font-weight: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.54);
}
#btnidRemove{
  margin-left: 45%;
  font-weight: 700;
  color: rgb(103 90 90 / 87%);
}
#lastbtn{
  margin-top:2% ;
  font-weight: 700;
  margin-left: 158%;
  background-color:#0d7cf3;
}
















/* 
#settingh4ID{
  margin-left:8%;
}
#settingGridId{
  margin-top: 4%;
}
#yoyo{
  background-color: white
}
#asad{
  margin-left: 5%;
} */



/* #Avatarid{
  margin-top: 10px;
  margin-left:  14px;
  margin-bottom: 20px;
} */

/* #{
  margin-left: 440%;
  margin-left: 440%;

} */
 /* #idc{
  margin-top: 10%;
} */
/* 
#boxofAv{
  margin-left: 1%;
} */




/* #delAcbtn{
  margin-right: %;
} */


/* 
#linkedactbtn{
  margin-bottom: -5%;
} */
/* #paperid{
  margin-left: 30%;
  margin-top: -10%;
} */


/* #idofhrform3{
  margin-top: 1.5%;
  margin-bottom: 2%;
 
} */
/* #idofhrform4{
  margin-top: 1.5%;
  margin-bottom: 2%;
 
} */
/* #gridcontainer{
  margin-top:4%;
  margin-left:15%;
} */
/* html,body{
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x:hidden;
} */
/* #linkbtnid{
  margin-top: -3%;
  margin-left: 13%;
  color: #000000; 
  font-weight: 600;
  font-size: 0.9rem;
}
#lastgrid{
  
  margin-right: -20%;
}
#googleId{
  margin-left: 8%;
  margin-right: -20%;
} */